<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

<%= javascript_include_tag "jquery.validate.js" %>

<script>
    $(document).ready(function(){    
        $("#commentForm").validate({
            rules: {
                'usuario[password]': {required: true,minlength: 6},
                'usuario[password_confirmation]': { required: true, minlength: 6, equalTo: "#password"},
                'usuario[email]': { required: true, email: true },
                'usuario[nombre]': {required: true},
                'usuario[apellido]': {required: true},
                'usuario[cedula]': {required: true, digits: true},
                'usuario[telefono]': {required: false, digits: true}
            },
                
            messages: {
                'usuario[nombre]': { 
                    required: "Por favor introduzca su nombre"
                },
                'usuario[cedula]': { 
                    required: "Por favor introduzca su cédula de identidad",
                    digits: "Este campo solo posee números"
                },
                'usuario[apellido]': { 
                    required: "Por favor introduzca su Apellido"
                },
                'usuario[password]': {
                    required: "Por favor introduzca una contraseña",
                    minlength: "La contraseña debe tener mínimo 6 caracteres"
                },
                'usuario[password_confirmation]': {
                    required: "Por favor introduzca una contraseña",
                    minlength: "La contraseña debe tener mínimo 6 caracteres",
                    equalTo: "Las contraseñas no coinciden"
                },
                'usuario[email]': { 
                    required: "Por favor introduzca un correo electrónico", 
                    email: "la sintaxis de correo debe ser correcta" 
                },
                'usuario[telefono]': {
                    digits: "Este campo solo posee números" 
                }
                
            } 
             
        });

        <% if resource.errors.count != 0 %>          
            <% resource.errors.each do |re| %>
                <% resource.errors[re].each do |msg| %>
                    $("#avisoError").append("<p>- <%= msg %></p>");
                <% end %>
            <% end %>
            $("#myModalError").modal('show');
       <% end %>

    });
</script>

<ol class="breadcrumb">
  <li><a href="/">Home</a> </li>
  <li class='active'>/ Registrar</li>
</ol>

<div id="contenido">
    <p style="color:red">NOTA: Todos los campos indicados en rojo deben ser llenados</p>

    <p> A continuación se presentarán los campos para el registro de usuario, debe crear una cuenta en el sistema para poder acceder al mismo.</p>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => "commentForm" }) do |f| %>
        <fieldset>
            <legend>Registro de Usuario</legend>

            <label style="color:red">Nombre del usuario:</label>
            <%= f.text_field :nombre, :placeholder => "Nombre", :class => "span3" %>
            <%= f.text_field :apellido, :placeholder => "Apellido", :class => "span3" %>
            
            <label style="color:red">Cédula de Identidad:</label>
            <%= f.text_field :cedula, :placeholder => "CI", :class => "span3" %>
            
            <label style="color:red" >Contraseña:</label>
            <%= f.password_field :password, :id => "password", :placeholder => "Contraseña", :class => "text", :title => "Ingrese su contraseña" %>
            
            <label style="color:red">Confirmar Contraseña:</label>
            <%= f.password_field :password_confirmation, :id => "confirm_password", :placeholder => "Confirmar Contraseña", :class => "text" %>
            
            <label style="color:red">Correo electrónico:</label>
            <%= f.text_field :email, :placeholder => "Correo", :class => "span3", :id => "email" %>
            
            <label>Número telefónico:</label>
            <%= f.text_field :telefono, :placeholder => "Teléfono", :class => "span3", :id => "telefono" %>
    <%= f.hidden_field :tipo, :value => 'cli' %>
            <center>
                <button type="submit" class="btn">Enviar</button>
            </center>
        </fieldset>
    <% end %>
</div>

<div id="myModalError" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Error</h3>
    </div>
    <div class="modal-body">
        <div id="Error" style="color:#090">           
            <center><h5 id="avisoError"></h5></center>
        </div>
    </div>
       <div class="modal-footer">
       </div>
</div>