<%= form_for(@futbolada) do |f| %>
  <% if @futbolada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@futbolada.errors.count, "error") %> prohibited this futbolada from being saved:</h2>

      <ul>
      <% @futbolada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_ingreso %><br />
    <%= f.date_select :fecha_ingreso %>
  </div>
  <div class="field">
    <%= f.label :cancha_a %><br />
    <%= f.check_box :cancha_a %>
  </div>
  <div class="field">
    <%= f.label :cancha_b %><br />
    <%= f.check_box :cancha_b %>
  </div>
  <div class="field">
    <%= f.label :hora_inicio %><br />
    <%= f.text_field :hora_inicio %>
  </div>
  <div class="field">
    <%= f.label :cant_horas %><br />
    <%= f.number_field :cant_horas %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
