<%= stylesheet_link_tag "jquery-ui-1.10.2.custom.css" %>

<%= javascript_include_tag "jquery-1.9.1.js" %>
<%= javascript_include_tag "jquery-ui-1.10.2.custom.js" %>
<script>
  $(function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  });
</script>

<div id="escrito">
  <legend><h1>¿Qué ofrecemos?</h1></legend>

  <!-- <div id="accordion"> -->
  <h3>Reserva tu cancha de fútbol 7 ó fútbol 5</h3>
  
  <div>
    <!-- <h4> Descripción de la Reserva </h4> -->
    <p>Paraguana Sport Park es un complejo deportivo para la familia que cuenta con las mejores instalaciones de ultima tecnologia y los mejores servicios del Mercado. Mas de 1,500 mts2 de grama artificial para alquilar con modalidad de 3 canchas Futsal o una cancha de Futbol 7 complementado con un Restaurant, centro de fiestas, tienda deportiva, y mucho más:
      <%= image_tag "render.png", :width => "250px", :style => "margin: 5px 0px 5px 5px;float: right; " %>
    </p>
    
    <ol style="margin:0px 0px 0px 30px;">
        <li value="1">3 Canchas para la practica del futbol 5 Medidas 18 x 36 Mts.</li> 
        <li>1 Cancha para entrenamiento o futbol 7 Medidas 18 x 72 Mts. </li>
    </ol>

   	<p> Usted puede reservar directamente en nuestra pagina web (Opcion  con sus tarjetas de Crédito Visa o Master Card de cualquier entidad bancaria o llamando a nuestras oficinas. Los alquileres se hacen por horas completas y sus precios varían según el horario.</p>

    <p>Para conocer mas de nuestros servicios te invitamos a visitor nuestro hermoso complejo en la Ciudad Comercial. Aqui recibiras asesoria de nuestros especialistas quienes te ayudaran con todo lo que necesitas. </p>

    <br />

    <center>
      <!-- <%= link_to 'Reserva Tu Cancha', new_reserva_path, :class => "btn btn-success", :style => "padding: 10px;color:white;" %> -->
    </center>
  </div>
  
  <h3>Futboladas</h3>
    <div>
      <!-- <h4> Descripción de la Futbolada </h4> --> 
      <p>Celebra tu cumpleaños o cualquier festividad con nosotros de la manera mas sana, segura y divertida. La Cantera Futsal considera que en esos dias especiales el anfitrion y todos sus invitados deberian estar totalmente libre de preocupaciones, por ello hemos organizado para ti los mejores y mas economicos paquetes donde nos encargaremos de absolutamente todo los detalles para que tengas la mejor de las celebraciones en tu dia.</p>

      <p>Llamanos o visitanos en nuestro complejo sin compromisos para que nuestros especialistas te organizen todo lo que deseas para ese dia tan especial.</p>

      <h5 style="margin:0px 0px 0px 20px;">Generalmente nuestros paquetes incluyen: </h5>
      
      <%= image_tag "IMG_7332.jpg", :style => "width:230px;height:150px;margin: 5px 0px 5px 5px;float: right; " %>
        
      <ul style="margin:0px 0px 0px 30px;">
        <li type="square">- 2 árbitros.</li>
        <li type="square">- 2 animadores.</li>
        <li type="square">- Franelas para distinguir los equipos.</li>
        <li type="square">- 4 horas de cancha de juego + 1 hora en área anexa.</li>
        <li type="square">- Piñata, torta, pasapalos, bebidas, globos.</li>
        <li type="square">- Toldo,  mesas, sillas,  manteles.</li>
      </ul>
      
      <br />
    </div>
    
    <h3>Ligas</h3>
    
    <div>
      <p>La cantera Futsal te invita a organizar y/o participar nuestras ligas y torneos de la manera mas profesional, con arbitros, uniformes, balones de la mejor calidad, y un seguimiento en linea con todos los detalles de clasificacion, lideres goleadores, y demas. Todas las ligas y torneos tendran un premio metalico y en los que deseen se otorgara a los ganadores premios en efectivo y/o implementos deportivos.</p>

      <p>En alianza con clubes profesionales del futbol nacional buscamos organizar el futbol del estado Falcon y llevarlo al maximo nivel con la exportacion de los mejores talentos, por ellos hemos decidido organizar torneos y ligas que acompañado de los tryouts periodicos nos ayudaran a conocer quienes son los mejores talentos de la zona.</p>
      
      <p>Te invitamos a organizar  visitando nuestras instalaciones y recibiendo la asesoria de nuestros expertos o llamando a nuestras oficinas.</p>
      
      <br />
    </div>
    
    <h3>Inscríbete en la escuela del Unión Atlético Falcón</h3>

    <div>
      <%= image_tag "UAF.jpg", :width => "150px", :style => "margin: 5px 0px 5px 5px;float: right; " %>
      
      <p>
        La Cantera Futsal Paraguana son las canchas de entrenamiento oficial del equipo profesional de nuestro estado, el Unión Atlético Falcón.
      </p>

      <p>
        Inscríbete en la academia de futbol y entrena junto a los mejores de nuestro estado. Tres entrenamientos a la semana incluyendo partidos de futbol. Desde los 4 hasta los 16 años estamos buscando a los mejores futbolistas de Falcón. Te esperamos!
      </p>
    </div>
    
    <!-- </div> -->
</div>