<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>La Cantera FutSal</title>
<%= favicon_link_tag 'favicon.ico' %>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "bootstrap.css" %>
<%= stylesheet_link_tag "bootstrap-responsive.css" %>
<%= stylesheet_link_tag "style.css" %>

<%= javascript_include_tag "jquery-1.9.1.js" %>
<%= javascript_include_tag "bootstrap.js" %>

<meta name="description" content="Reserva tu cancha de futbol online">
<meta name="keywords" content="FutSal, Futbol, reserva, online">
<meta name="author" content="Nelson Medina y Alfredo Gallardo">
<meta charset="UTF-8">
</head>

<body>


<div id="loginArea">
	<div id="autenticacion">
        <% if usuario_signed_in? %>
          <% if es_admin? || es_ope? %>
            <%= link_to 'Gestionar Datos', gestion_path, :class => "btn btn-success" %>
          <% elsif es_cli? %>
            <%= link_to 'Mi Cuenta', gestion_path, :class => "btn btn-success" %>
          <% end %>
          <%= link_to 'Cerrar Sesión', destroy_usuario_session_path, :class => "btn btn-success" %>
        <% else %>
            <a href="/iniciar_sesion" class="btn btn-success">Iniciar Sesión</a>
          <a href="/registrar" class="btn btn-success">Registro</a>
        <% end %>
    </div>
</div>



<div style="height:210px" id="header">
    <!-- Identificación de la empresa -->
	<div id="nav-outer">
		<div id="Identification">
        	<div id="logo" style="float:left;"> <a href="/"><%= image_tag "LogoLaCantera.png" %></a> </div>
            <div class="separador"></div>
            <div id="desc">
            	<h1> La Cantera FutSal </h1>
            	<p style="color:#999; font-size:16px"> Eslogan de la empresa </p>
            </div>
            <div id="redesSociales">
        		<a href="http://www.facebook.com/lacantera.futsal">
					<%= image_tag "facebook-48.png" %>
   					Facebook
 				</a>
                <a href="https://twitter.com/canterafutsal">
					<%= image_tag "twitter-48.png" %>
   					Twitter
 				</a>
                <a href="http://instagram.com/canterafutsal#">
					<%= image_tag "instagram-48.png" %>
   					Instagram
 				</a>
                <a href="http://www.youtube.com/channel/UCzQxJFSBTJ-jZ5XbZrMOSEw">
					<%= image_tag "youtube-48.png" %>
   					Youtube
 				</a>   
        	</div>
		</div>     
	</div>
	
</div>
<div style="height:700px" id="content">
	<div style="height:870px" id="navegation">
 		<div id="contenido">
        	<div id="escrito" style="padding:20px; text-align:justify">
        	<legend> <h1>
            ¿Quiénes somos?    
            </h1>
             </legend>
            <h3> Introducción </h3>
            <p>Paraguana Sport Park es un complejo deportivo para la familia que cuenta con las
mejores instalaciones de ultima tecnologia y los mejores servicios del Mercado. Mas de
1,500 mts2 de grama artificial para alquilar con modalidad de 2 canchas Futsal o centro
de entrenamiento, complementado con un Bar/Restaurant, Pared de escalar, centro de
            
            <%= image_tag "render.jpg",  :width => "300", :style => "margin:10px;float:right;" %>
            
fiestas, tienda deportiva, todo esto y mucho mas ubicado en el Centro Comercial mas
grande de la region.</p>

			

			<p>El Centro Comercial las Virtudes recibe mas de 4 Millones de visitas anuales con su
amplio estacionamiento recibe un aproximado de 4 mil carros diarios. El Paraguana Sport
Park esta ubicado en la entrada principal del centro comercial a 50 mts de Arturos, 75 mts
de Farmatodo y 100 mts de Mcdonalds.</p>

            <h3> ¿Quienes somos? </h3>
            
           	<p>Somos un grupo de jóvenes deportistas comprometidos con el desarrollo del deporte en Venezuela. Queremos crear alternativas para el esparcimiento de la familia venezolana que sirvan como punto de encuentro de la comunidad
            Queremos apoyar el desarrollo del Estado Falcón y ss por ello que hemos desarrollado una alianza estratégica con el equipo de fútbol profesional Unión Atlético Falcón. Junto a ellos queremos fomentar el deporte para todas las edades, géneros y situación económica. <br /><br />Queremos apoyar el desarrollo del Estado Falcón y ss por ello que hemos desarrollado una alianza estratégica con el equipo de fútbol profesional Unión Atlético Falcón. Junto a ellos queremos fomentar el deporte para todas las edades, géneros y situación económica. <br /><br />

Queremos convertirnos en el mejor complejo deportivo para la familia que cuente con las mejores instalaciones de ultima tecnología y los mejores servicios del mercado.  </p>            
            
            <h3> Nuestra Propuesta: </h3>
          
			<p>Queremos aliarnos con ustedes por ser empresa reconocida, comprometida con el pais y 
muy vinculada al deporte nacional para entre otras cosas unir fuerzas y catapultar el 
desarrollo de venezolanos deportistas con instalaciones de ultima tecnologia y servicios 
insuperables.</p>

			

        	</div>
        </div>
    
     
		<div class="bloque">
        	<h2 style="color:#42a41f; text-align:center"> Servicios </h2>
            <%= image_tag "calendario.png", :style => "margin: 5px 0px 5px 5px;float: left; " %>
            <p> En nuestra sección de servicios podrás encontrar lo que en La Cantera Fut Sal podemos ofrecerte, desde reserva de canchas de futbol, hasta organización de Futboladas y Ligas. </p>
            <div class="irA">
            	<a href="/servicios"> 
                	Ir a Servicios 
                	<i class="icon-chevron-right"></i>
                </a> 
            </div>
            
    	</div>
		
        <div class="separador2">
        </div>
        <div class="bloque">
        	<h2 style="color:#3276b9; text-align:center"> Ubicación </h2>
            <%= image_tag "mapa.png", :style => "margin: 5px 0px 5px 5px;float: left; " %>
            <p> En nuestra sección de Ubicación, podrás tener la ubicación clara de donde nos encontramos e identificaras las ventajas que tenemos en la zona de nuestro complejo. </p>
            <div class="irA">
            	<a href="/ubicanos"> 
                	Ir a Ubicación 
                	<i class="icon-chevron-right"></i>
                </a> 
            </div>
    	</div>
        <div class="separador2">
        </div>
		
        <div class="bloque">
        	<h2 style="coloR:#eaebec; text-align:center"> Sobre Nosotros </h2>
            <%= image_tag "informacion.png", :style => "margin: 5px 0px 5px 5px;float: left; " %>
            <p> Conoce sobre nuestro grupo, ¿quiénes somos?, ¿qué buscamos? Y conoce la motivación para realizar este proyecto. </p>
            <div class="irA">
            	<a href="/sobre_nosotros">
                	Ir a Sobre Nosotros 
                	<i class="icon-chevron-right"></i>
                </a> 
            </div>
    	</div>
        
        <div id="footer">
        	<div id="izqInfo">
            	<center> <%= image_tag "Developeers.png", :width => "100" %> </center>
            </div>
            
            <div id="derInfo">
                <div id="publicidad1" style=" width:98%; height: 73px">
                
                
                </div>
                
                <center>
                    <p>©Todos los derechos reservados por La Cantera Futsal - 2013 <br />
                    Diseño Web y programación realizada por Developeers</p>
                </center>
            </div>
        
        	
    	</div>
    </div>
</div>

</body>
</html>
