<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Nombre: <%= @nombre %><br/>
      Apellido: <%= @nombre %><br/>
      Email: <%= @nombre %><br/>
      <% if @telefono != '' %>
        Teléfono: <%= @telefono %><br/>
      <% end %>
      Comentario: <%= @comentarios_sugerencias %><br/>
    </p>
  </body>
</html>
