<h1>Listing canchas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Monto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @canchas.each do |cancha| %>
  <tr>
    <td><%= cancha.nombre %></td>
    <td><%= cancha.monto %></td>
    <td><%= link_to 'Show', cancha %></td>
    <td><%= link_to 'Edit', edit_cancha_path(cancha) %></td>
    <td><%= link_to 'Destroy', cancha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cancha', new_cancha_path %>
